.room {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.parent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.parent .lobby-user {
  width: 80%;
  background-color: #C66729;
  color: #ffffff;
  border: 2px;
  border-radius: 2px;
  border-color: #5F2F24;
}

.lobby-user > p {
  font-size: 28px;
  margin-left: 10%;
  font-weight: 400;
}

.parent .btun {
  width: 100%;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}
