.choose {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.choose .header1{
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.choose .mt-3{
  margin-top: ($spacer-y) !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.choose .timer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  text-align: center;
  font-size: 50px;
}

.gif{
  width: 100%;
}
